# list

In [2]:
a = [1,"phani",5.5,3+4j]
a

[1, 'phani', 5.5, (3+4j)]

In [3]:
type(a)

list

In [5]:
a[1]="PHANI"
a

[1, 'PHANI', 5.5, (3+4j)]

In [7]:
a[3]="abcd"
a

[1, 'PHANI', 5.5, 'abcd']

###### list are mutable

In [60]:
a.append("hello")
a

[52, 'hello']

In [61]:
a.append(['hi','pk',555])
a

[52, 'hello', ['hi', 'pk', 555]]

In [62]:
a[5][2]="Python"
a

IndexError: list index out of range

In [63]:
b=a.copy()
b

[52, 'hello', ['hi', 'pk', 555]]

In [64]:
b.clear()

In [65]:
b

[]

In [66]:
type(b)

list

In [67]:
del b

In [68]:
b

NameError: name 'b' is not defined

In [69]:
a.append('hello')

In [70]:
a

[52, 'hello', ['hi', 'pk', 555], 'hello']

In [71]:
a.count('hello')

2

In [72]:
a.extend('Python')
a

[52, 'hello', ['hi', 'pk', 555], 'hello', 'P', 'y', 't', 'h', 'o', 'n']

In [73]:
a.extend(['Python'])
a.append(['Phani Kumar'])
a

[52,
 'hello',
 ['hi', 'pk', 555],
 'hello',
 'P',
 'y',
 't',
 'h',
 'o',
 'n',
 'Python',
 ['Phani Kumar']]

In [30]:
a.append(10.5)
a.append([547])
print(a)

[1, 'PHANI', 5.5, 'abcd', 'hello', ['hi', 'pk', 'Python'], 'hello', 'P', 'y', 't', 'h', 'o', 'n', 'Python', 'Phani Kumar', 'Python', ['Phani Kumar'], 10.5, [547]]

In [31]:
a.extend([55.8])
print(a)

[1, 'PHANI', 5.5, 'abcd', 'hello', ['hi', 'pk', 'Python'], 'hello', 'P', 'y', 't', 'h', 'o', 'n', 'Python', 'Phani Kumar', 'Python', ['Phani Kumar'], 10.5, [547], 55.8]

In [34]:
a.index(55.8)

19

In [36]:
a.insert(-1,"Kumar")
a

[1,
 'Kumar',
 'PHANI',
 5.5,
 'abcd',
 'hello',
 ['hi', 'pk', 'Python'],
 'hello',
 'P',
 'y',
 't',
 'h',
 'o',
 'n',
 'Python',
 'Phani Kumar',
 'Python',
 ['Phani Kumar'],
 10.5,
 [547],
 'Kumar',
 55.8]

In [38]:
a

[1,
 'Kumar',
 'PHANI',
 5.5,
 'abcd',
 'hello',
 ['hi', 'pk', 'Python'],
 'hello',
 'P',
 'y',
 't',
 'h',
 'o',
 'n',
 'Python',
 'Phani Kumar',
 'Python',
 ['Phani Kumar'],
 10.5,
 [547],
 'Kumar',
 55.8]

In [44]:
a.insert(10,['Data Science'])
print(a)

[1, 'Kumar', 'PHANI', 5.5, 'abcd', 'hello', ['hi', 'pk', 'Python'], 'hello', 'P', 'y', ['Data Science'], ['Data Science'], 't', 'h', 'o', 'n', 'Python', 'Phani Kumar', 'Python', ['Phani Kumar'], 10.5, [547]]

In [45]:
a.pop()

[547]

In [50]:
a.pop(8)

'y'

In [51]:
a

[1,
 'Kumar',
 'PHANI',
 5.5,
 'abcd',
 ['hi', 'pk', 'Python'],
 'hello',
 'P',
 ['Data Science'],
 ['Data Science'],
 't',
 'h',
 'o',
 'n',
 'Python',
 'Phani Kumar',
 'Python',
 ['Phani Kumar'],
 10.5]

In [52]:
a.remove("PHANI")

In [55]:
a=[10,52,10]
a.remove(10)
a

[52, 10]

In [56]:
a.remove(10)

In [57]:
a

[52]

In [59]:
a.reverse()

In [75]:
a.reverse(
)

In [76]:
a

[['Phani Kumar'],
 'Python',
 'n',
 'o',
 'h',
 't',
 'y',
 'P',
 'hello',
 ['hi', 'pk', 555],
 'hello',
 52]

In [77]:
a[::-1]

[52,
 'hello',
 ['hi', 'pk', 555],
 'hello',
 'P',
 'y',
 't',
 'h',
 'o',
 'n',
 'Python',
 ['Phani Kumar']]

In [80]:
a = [1,90,2,99,55,10.58,]
a.sort()

In [81]:
a

[1, 2, 10.58, 55, 90, 99]

In [82]:
b=['a','x','z','m']
b.sort()

In [83]:
b

['a', 'm', 'x', 'z']

In [86]:
ord('a')

97

In [87]:
ord('z')

122

In [98]:
print(a)

[1, 2, 10.58, 55, 90, 99]

In [90]:
a

[1, 2, 10.58, 55, 90, 99]

In [91]:
a[-1]

99

In [92]:
a[-2]

90

In [94]:
a[0:4]

[1, 2, 10.58, 55]

In [96]:
a[-3:]

[55, 90, 99]

In [97]:
a[1:]

[2, 10.58, 55, 90, 99]

In [99]:
tuple

tuple

In [102]:
a = (1,'pk')
type(a)

tuple

In [104]:
a[1] ='Phani'

TypeError: 'tuple' object does not support item assignment

In [105]:
c = list(a)
c

[1, 'pk']

In [107]:
c[1]="PHANI"
c

[1, 'PHANI']

In [108]:
d = tuple(c)
d

(1, 'PHANI')

In [109]:
d.index(1)

0

In [110]:
a.count(1)

1

In [116]:
a = {'phani','phani',1,2,3,3,3,}
print(a)
print(set(a))

{1, 2, 3, 'phani'}
{1, 2, 3, 'phani'}

In [117]:
a.add('Kumar')

In [118]:
a

{1, 2, 3, 'Kumar', 'phani'}

In [119]:
a.difference()

{1, 2, 3, 'Kumar', 'phani'}

In [120]:
b= a.copy()
b

{1, 2, 3, 'Kumar', 'phani'}

In [128]:
a

{1, 2, 3, 'Kumar', 'phani'}

In [129]:
b={1,2,3}
b

{1, 2, 3}

In [130]:
a.difference(b)

{'Kumar', 'phani'}

In [131]:
a.intersection(b)

{1, 2, 3}

In [133]:
b.issubset(a)

True

In [139]:
a.pop()

KeyError: 'pop from an empty set'

In [140]:
a

set()

In [141]:
b.remove(3)

In [142]:
b

{1, 2}

In [143]:
b.union(a)

{1, 2}

In [147]:
a = {"phani",12}
b = {"kumar",34,1000}
a.union(b)

{1000, 12, 34, 'kumar', 'phani'}

In [149]:
a.update([1,23])

In [151]:
z = {1: 'One', 2: 'Two'}
x = {0: 'zero', 1: 'one'}
x.update(z) # adds anything new to the dict
print(x)

{0: 'zero', 1: 'One', 2: 'Two'}

In [152]:
type(z)

dict

In [153]:
z[1]

'One'

In [154]:
z[2]

'Two'

In [157]:
x.keys()

dict_keys([0, 1, 2])

In [158]:
dict

dict

In [164]:
a = {1:'phani',2:'pk','abcd':[1,2,333330],'hello':{4:33,5:[1,9,"AI"]}}
a

{1: 'phani',
 2: 'pk',
 'abcd': [1, 2, 333330],
 'hello': {4: 33, 5: [1, 9, 'AI']}}

In [165]:
type(a)

dict

In [166]:
a.keys()

dict_keys([1, 2, 'abcd', 'hello'])

In [170]:
a['hello'][5][2] = "Python"

In [171]:
a

{1: 'phani',
 2: 'pk',
 'abcd': [1, 2, 333330],
 'hello': {4: 33, 5: [1, 9, 'Python']}}

In [172]:
b = a.copy()
b

{1: 'phani',
 2: 'pk',
 'abcd': [1, 2, 333330],
 'hello': {4: 33, 5: [1, 9, 'Python']}}

In [174]:
z = {1:5,2:55,1:'Ai'}
z

{1: 'Ai', 2: 55}

In [176]:
a = 10
a = 20
a = 'AI'
print(a)

AI

In [178]:
b.keys()

dict_keys([1, 2, 'abcd', 'hello'])

In [179]:
b.values()

dict_values(['phani', 'pk', [1, 2, 333330], {4: 33, 5: [1, 9, 'Python']}])

In [180]:
b.items()

dict_items([(1, 'phani'), (2, 'pk'), ('abcd', [1, 2, 333330]), ('hello', {4: 33, 5: [1, 9, 'Python']})])

In [181]:
print(b)

{1: 'phani', 2: 'pk', 'abcd': [1, 2, 333330], 'hello': {4: 33, 5: [1, 9, 'Python']}}

In [186]:
c = b.copy()
print(c)

{1: 'phani', 2: 'pk', 'abcd': [1, 2, 333330], 'hello': {4: 33, 5: [1, 9, 'Python']}}

In [187]:
c.pop(1)

'phani'

In [188]:
c

{2: 'pk', 'abcd': [1, 2, 333330], 'hello': {4: 33, 5: [1, 9, 'Python']}}

In [194]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [196]:
car['year'] = 2020
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
car.update()

In [192]:
car.popitem()

print(car)

{'brand': 'Ford', 'model': 'Mustang'}

In [193]:
car.popitem()

print(car)

{'brand': 'Ford'}

In [206]:
d = {1: "one", 2: "three"}
d1 = {20: "two"}

# updates the value of key 2
d.update(d1)

In [207]:
d

{1: 'one', 2: 'three', 20: 'two'}

In [202]:
d = {1: "one", 2: "three"}
d1 = {2: "two"}
d[2]='Python'

In [203]:
d

{1: 'one', 2: 'Python'}